<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GraphHands</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/editor.css') }}">
    <script type=text/javascript src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='scripts/editor.js') }}"></script>
</head>
<body>
    <input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon"/>
  	<label for="menu-icon"></label>
  	<nav class="nav">
  		<ul class="pt-5">
  			<li><button onclick="editorFunction()"><span>Editor</span></button></li>
  			<li><button onclick="theoryFunction()"><span>Theory</span></button></li>
  			<li><button onclick="buildFunction()"><span>Build</span></button></li>
  			<li><button onclick="controlsFunction()"><span>Controls</span></button></li>
  		</ul>
  	</nav>
    <div class="page-home" id="home">
  		<h1>Hand for Graph</h1>
  	</div>
    <div class="page-editor" id="editor">
    </div>
    <div class="page-theory" id="theory">
    </div>
    <div class="page-build" id="build">
    </div>
    <div class="page-controls" id="controls">
    </div>
</body>
</html>